body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
.Black--login--Nav {
  /* border: 1px solid red; */
  width: 100%;
  height: 100px;
  background-color: #252525;
  color: white;
  font-family: "Neue";
  font-family: "Roboto", sans-serif;
}
.MovingText--Container {
  background-color: black;
  padding: 10px 0px;
  text-align: center;
}
.MovingText {
  /* border: 1px solid; */
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  animation: moveBlackText 12s linear infinite;
  display: inline-block;
  margin: 0;
}

@keyframes moveBlackText {
  0% {
    left: 100%; /* Start from 10% beyond the right edge of the container */
  }
  100% {
    left: -100%; /* Move to 90% beyond the left edge of the container */
  }
}
.Contact--And--Login--Container {
  /* border: 1px solid blue; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 2%;
  height: 57px;
}
.Contact--And--Login--Container > h4,
ul {
  /* border: 1px solid white; */
}
.Contact--And--Login--Container > ul {
  display: flex;
  gap: 20px;
  list-style: none;
}
.Contact--And--Login--Container > ul > li {
  /* border: 1px solid red; */
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
.Contact--And--Login--Container > ul > li > img {
  width: 40px;
}
.Contact--And--Login--Container > ul > li > i {
  /* border: 2px solid red; */
  font-size: 1.5rem;
}

.White--pages--Link--Nav {
  /* border: 1px solid green; */
  height: 86px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
}
.White--pages--Link--Nav > div {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
}
.White--pages--Link--Nav > div:first-child img,
ul {
  /* border: 1px solid; */
}
.White--pages--Link--Nav > div > img {
  width: 22%;
}

.White--pages--Link--Nav > div > ul {
  display: flex;
  list-style: none;
  gap: 1rem;
  font-size: 0.9rem;
  /* font-weight: 600; */
  color: #0c2340;
  font-family: "Roboto", sans-serif;
}
.White--pages--Link--Nav > div > ul > li > a {
  text-decoration: none;
}
.White--pages--Link--Nav > div:last-child {
  gap: 2%;
}
.White--pages--Link--Nav > div:last-child > .search_div {
  border-bottom: 2px solid blue;
  display: flex;
  align-items: center;
  padding: 10px;
  /* gap: 5px; */
}
.search_div > * {
  margin: 0;
}
.search_div input {
  /* padding: 8px; */
  border: none;
}
input:focus {
  outline: none;
}
.express--delivery {
  /* border: 2px solid gold; */
  display: flex;
  align-items: center;
  gap: 10px;
  width: 19vw;
  padding: 8px 2px 8px 13px;
  border-radius: 30px;
  background-color: #c40c2f;
  color: white;
}
.express--delivery * {
  margin: 0;
}
.express--delivery > p:last-child > span {
  display: block;
  font-size: 12px;
}
.EXPRES--DELIVERY--span {
  font-weight: bolder;
}
.EXPRES--DELIVERY--span+span {
 
  color: rgb(235, 243, 240);
}
.White--pages--Link--Nav_Mobile {
  /* border: 2px solid green; */
  height: 76px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 5px;
  display: none;
}
.White--pages--Link--Nav_Mobile > div {
  /* border: 1px dotted violet; */
}
.White--pages--Link--Nav_Mobile > div > img {
  width: 100px;
}
.White--pages--Link--Nav_Mobile > div:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 2rem;
  font-size: 1.5rem;
}

header > center > div {
  /* border: 1px solid; */
  display: flex;
  justify-content: center;
  gap: 15px;
}
header > center > div > p {
  /* border: 1px solid; */
  padding: 7px 10px;
  border-radius: 3px;
}

/* main css */

@media screen and (width<1121px) {
  .White--pages--Link--Nav {
    padding: 0px 0px;
  }
  .White--pages--Link--Nav > div > ul {
    gap: 0.5rem;
  }
}

@media screen and (width<990px) {
  .Contact--And--Login--Container > ul > li {
    display: none;
  }
  .Contact--And--Login--Container > ul > li:last-child {
    display: block;
  }

  .White--pages--Link--Nav {
    display: none;
  }
  .White--pages--Link--Nav_Mobile {
    display: flex;
  }
}
